@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto+Condensed:wght@300&family=Varela+Round&display=swap");
body {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  background-color: black;
  list-style-type: none;
  color: white;
  height: 50px;
}
nav ul li {
  padding: 0 12px;
}
.brand img {
  width: 45px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 70vh;
  background-color: black;
  color: white;
  font-family: verela Round, sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("picture/bg.jpg");
  max-width: 100%;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background-color: black;
  height: 100px;
  color: white;
  flex-direction: column;
}
.icons {
  margin-top: 12px;
}
.icons i {
  cursor: pointer;
}
#myProgressBar {
  width: 80vw;
  cursor: pointer;
}
.songItemcontainer {
  margin-top: 74px;
}
.songItem {
  height: 50px;
  display: flex;
  background-color: rgb(14, 12, 12);
  color: white;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songItem img {
  width: 35px;
  margin: 0 23px;
  border-radius: 23px;
}
.timeStamp {
  margin: 0 23px;
}
.timeStamp i {
  cursor: pointer;
}
.songInfo {
  position: absolute;
  left: 10vw;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.81 ease-in;
  font-family: verela Round, sans-serif;
}
